{% extends 'reader/index.html.twig' %}
{% form_theme addBook_form 'bootstrap_4_layout.html.twig' %}
{% block title %}{{ parent() }} Bibliothèque{% endblock %}

{% block  stylesheets %}
    {{ parent() }}
    <style>
        #newBook {
            width: 50%;
            margin: auto;
            border: 1px solid #ccc;
            padding: 5px;
            box-shadow: 1px 5px 14px 0px #000;
        }
        @media(max-width: 768px) {
            .book {
                flex-direction: column;
                border-radius: 0px;
                padding: 0px;
            }
            .book:hover {
                background: #E91E1E;
            }
            .books-infos {
                width: 100%;
                height: 60%;
            }

            .book .actions {
                position: relative;
                width: 100%;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
            }

            #library {
                text-align: center;
                justify-content: space-around;
                alignt-items: center;
            }

            #newBook, #newBook form {
                width: 100%;
                padding: 0;
                margin: 0;
            }

        .content {
            width: 100%;
        }

            
        }
        .user-menu ul li.library a {
          color: #E91E1E;
        }
        #newBook button{
            background: "#E91E1E";
        }
    </style>
{% endblock %}

{% block library %}
<a href="#newBook" id="addBook"><button class="btn newBook" ><i class="icofont-minus"></i> <span>Masquer</span></button></a>
<div id="newBook">
    <div>
            {% for message in app.flashes('Ajout') %}
                <p class="alert alert-success">{{ message }}</p>
            {% endfor %}
    </div>
    {{ form_start(addBook_form) }}
        {{ form_widget(addBook_form) }}
    {{ form_end(addBook_form) }}
</div>
<div id="library">
    {% for book in books %}
        <div class="book">
            {% if  book.getImage() != ''  %}
                <img src="{{ asset('assets/img/uploads/'~ book.getImage()) }} " width="100" height="100"/>
            {% endif %}
            <div class="books-infos">
                <h3>{{ book.getNomlivre() }} </h3>
                <p>{{ book.getDesclivre()|striptags|slice(0, 50)|raw~'...' }}</p>
            </div>
            <div class="actions">
                <a href="{{ path('update', {'id': book.getIdlivre() }) }}"><i class="icofont-pencil"> Modifier</i></a>
                <a href="{{ path('show', {'id': book.getIdlivre() }) }}"><i class="icofont-link" > Détails</i></a>
                <a href="" onclick="deleteBook(event, {{ book.getIdlivre() }})"><i class="icofont-bin"> Supprimer</i></a>
                <a><i class="icofont-like"> <span class="nb_reacts"> 0 </span> </i></a>
            </div>
        </div>
        {% if books | length == 0 %}
            <div>
                <p><em>Aucun livre n'est ajouté</em></p>
            </div>
        {% endif %}
    {% endfor %}
</div>


{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
    <script>
        $(document).ready(function () {
            bsCustomFileInput.init()
        })
    </script>
{% endblock %}
